.friends {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.friends_ul {
  display: flex;
  justify-content: space-evenly;
}

.friends_li {
  width: 144px;
  list-style-type: none;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.friends_status {
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 22px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.avatar {
  width: 100px;
}

.friends_name {
  padding-top: 10px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: black;
  text-align: center;
}